.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile {
    display: contents;
    flex-direction: column;
    max-width: 282px;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media (max-width: 690px) {
  .profile {
    justify-content: center;
    flex-wrap: wrap;
  }
}
