.profile__small-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit\ Button.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50%;
  border: #FFFFFF 1px solid;
  display: flex;
  margin-left: 18px;
}

.profile__small-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .profile__small-button {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}


@media screen and (max-width: 980px) {
  .profile__small-button {

  }
}
