.header {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding-top: 45px;
  opacity: 0.7;
  border-bottom: 1px solid #545454;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .header {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 0;
    justify-content: center;
  }
}
