.form__save {
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 0;
    margin-bottom: 37px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }

  .form__save:hover {
    opacity: 0.8;
  }


  @media screen and (max-width: 425px) {
    .form__save {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
