.profile__info {
  display: grid;
  grid-template-columns: auto 24px;
  grid-template-areas: "profile__title profile__small-button"
                       "profile__subtitle .";
  align-items: center;
  padding-left: 30px;
  max-width: 430px;
}

@media screen and (max-width: 980px) {
  .profile__info {
    grid-template-columns: auto 18px;
    justify-content: flex-start;
    column-gap: 10px;
    margin-left: 14px;
    margin: 26px 0 33px;
    padding-left: 19px;
    row-gap: 6px;
  }
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-areas: "profile__title profile__small-button"
                       "profile__subtitle"
                       ".";
    grid-template-columns: auto 18px;
    column-gap: 10px;
    margin-left: 14px;
    margin: 26px 0 33px;
    padding-left: 19px;
    row-gap: 6px;
    align-items: baseline;
  }
}

@media screen and (max-width: 645px) {
  .profile__info {
    margin: 0 160px 20px 94px;
  }
}
