.profile__photo {
  display: flex;
  position: inherit;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
}


@media (max-width: 425px) {
  .profile__photo  {
    padding: 58px 84px 0;
  }
}
